<mat-toolbar class="app-title">Cadastrar Usuário</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
      <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="E-mail">
          </mat-form-field>
          <mat-form-field class="full-width">
              <input matInput placeholder="Senha">
            </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Senha">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefone">
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <button color="accent" mat-raised-button>Salvar</button>
          <button color="warn" mat-raised-button>Cancelar</button>
        </mat-card-actions>
  </mat-card>
</div>
