<mat-toolbar class="app-title">Cadastrar Usuário</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form [formGroup]="cadastro" (ngSubmit)="salvar()" (ngReset)="reiniciarForm()">
      <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" name="nome" formControlName="nome">
            <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && validacao.hasError(f.nome, 'required')">Mensagem Erro</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="abc@example" formControlName="email">
          </mat-form-field>
          <mat-form-field class="full-width">
              <mat-label>Senha</mat-label>
              <input matInput type="password" name="senha" formControlName="senha">
            </mat-form-field>
          <mat-form-field class="full-width">
              <mat-label>Senha</mat-label>
              <input matInput type="password" name="confirmaSenhar" formControlName="confirmaSenha">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Número Telefone/Celular</mat-label>
            <input matInput placeholder="(99)999999" name="telefone" formControlName="telefone">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" color="accent" mat-raised-button>Salvar</button>
          <button type="reset" color="warn" mat-raised-button>Cancelar</button>
        </mat-card-actions>
      </form>
  </mat-card>
</div>
