<div [formGroup]="formGroup">
  <mat-form-field class="full-width" appearance="outline" >
    <mat-label>{{titulo}}</mat-label>
    <input matInput [ngxTimepicker]="picker"
            [format]="24"
            readonly
            placeholder="Horas"
            [name]="controlName"
            [formControlName]="controlName">

    <mat-icon
      matPrefix
      *ngIf="this.formGroup.controls[this.controlName].value && !this.formGroup.controls[this.controlName].disabled"
      (click)="onClear($event)">
        close
    </mat-icon>


    <mat-icon
      matSuffix
      *ngIf="!this.formGroup.controls[this.controlName].disabled"
      >schedule</mat-icon>
    <ngx-material-timepicker #picker></ngx-material-timepicker>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'email')">Não é um email válido</mat-error>
  </mat-form-field>
</div>
