<mat-list *ngIf="usuario; else semRegistro">
  <mat-list-item> Nome: {{usuario.nome}} </mat-list-item>
  <mat-list-item> Email: {{usuario.email }} </mat-list-item>
  <mat-list-item> Telefone: {{usuario.telefone}} </mat-list-item>
  <mat-list-item> Data de Cadastro: {{ usuario.createdAt | date: 'dd/MM/yyyy' }} </mat-list-item>

  <img mat-card-image [src]="usuario.urlFoto || semFoto" >
</mat-list>
<mat-card>
  <mat-card-actions class="margin10">
    <div>
      <button color="accent"  mat-raised-button (click)="editar()">Editar</button>
      <button color="warn" mat-raised-button (click)="excluir()" >Excluir</button>
      <button class="secundary" style="float: right;" (click)="voltar()" mat-raised-button>Voltar</button>
    </div>
    <div fxFlex class="button-center">
      <button color="primary" mat-raised-button (click)="cadastrarJob()" >Cadastrar Job</button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
